.mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    background: white;
    color: black;
}

mat-form-field {
    padding: 5px;
}

mat-hint {
    color: red;
}

.header {
    font-family: "Lucida Handwriting";
}

.button {
    font-family: "Lucida Handwriting";
    background: white;
    color: black;
}