.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
    background: white;
    color: black;
}

mat-form-field {
    padding: 5px;
}

.header {
    font-family: "Lucida Handwriting";
}