<mat-card>
    <b><span class= "header">Manage Table</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
        <mat-icon>add_circle</mat-icon> Add Table
    </button>
</mat-card>
<hr>

<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="tableId">
            <th mat-header-cell *matHeaderCellDef>Table ID</th>
            <td mat-cell *matCellDef="let element">{{element.tableId}}</td>
        </ng-container>

        <ng-container matColumnDef="pax">
            <th mat-header-cell *matHeaderCellDef>Pax</th>
            <td mat-cell *matCellDef="let element">{{element.pax}}</td>
        </ng-container>


        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
               
                <button mat-icon-button color="primary" (click)="handleOrderAction()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <mat-slide-toggle (change)="onChange($event.checked,element.id)"
                matTooltip="Release or Hold Table" [checked]="element.status"></mat-slide-toggle>
                <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                </button>
                <!-- <mat-slide-toggle (change)="onChange($event.checked,element.id)"
                    matTooltip="Release or Hold Table" [checked]="element.status"></mat-slide-toggle> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumn;"></tr>
    </table>
</div>