* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Raleway", Arial, sans-serif;
  margin: 0;
}



/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-family: "Raleway", Arial, sans-serif;
}

p {
  font-family: "Lucida Handwriting";
  
}

h1 {
  font-family: "Lucida Handwriting";
  color: black;
}


body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}


.menu {
  display: none;
}

.bgimg {
  background-image: url('../../assets/img/coffeeshop.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}