* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Raleway", Arial, sans-serif;
  margin: 0;
}



/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-family: "Raleway", Arial, sans-serif;
}

h1 {
  font-family: "Lucida Handwriting";
}




body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/img/1.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
